
@import "../bower_components/scut/dist/scut";
@import "fonts";

@include scut-reset;

body {
    background: #64a5ff;
    background: rgb(170, 197, 202);
    color: white;
    position: relative;
}
h1 {
    width: 100%;
    font-size: 3em;
    font-weight: bold;
    position: absolute;
    top: 25%;
    text-align: center;
    cursor: default;
    i {
        font-size: .4em;
        transition: all 0.3s ease-in-out;
        vertical-align: middle;
        display: inline-block;
        height: 1.3em;
        &:hover {
            filter: blur(2px);
        }
    }
}
html {
    font-family:"Helvetica Neue", "Helvetica", "sans serif";
    // font-family:'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease-in-out;
    &:hover {
        filter: blur(2px);
    }
}
ul {
    position: absolute;
    bottom: 10%;
    text-align: center;
    width: 100%;
    @include scut-list-inline(10%);
    > li {
        font-size: 1.5em;
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    h1 {
        padding: 0 25%;
        i {
            height: .5em;
        }
    }
}
